<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= title %> demo index</title>
  <link rel="icon" href="img/favicon.png">
  <link rel="stylesheet" type="text/css" href="dist/style.css">
  <style>
  /* here's some basic styling for the demo pages. It's included embedded in the
  page HTML so that it doesn't accidentally end up inside your component ;) */
  body.demo {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  </style>
</head>

<body class="demo">

  <h1><%= title %> demo pages</h1>

  <a href="examples/index.html">Visit the example demo page.</a>
  <p> You can add links to more demos here if needed.</p>
  <p>
    To learn more about creating BioJS components, visit
    <a href="http://training.biojs.net">the BioJS training pages</a>,
    and to browse BioJS components, visit
    <a href="http://biojs.net">the BioJS Registry</a>.
  </p>


</body>

</html>
